NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmFwaWQtZmxhbWluZ28tMTEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_fVLt3iOqcx4vBQluffdhLC5q2x0XMftrh8fUHHctyo
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://extraone033:oqmV84soGpjzJZEx@cluster0.a0eftdl.mongodb.net/lms?retryWrites=true&w=majority&appName=Cluster0"

UPLOADTHING_SECRET=sk_live_3884db3d63651b554b978fd352c8fa209235dc7a1b418c4cff6135acde4eed9a
UPLOADTHING_APP_ID=tu3wn56bpt

MUX_TOKEN_ID=738e00cf-cfa9-4830-9c7e-fdef92bcdd99
MUX_TOKEN_SECRET=a5NAml003Oi75t11igRENWyHDKk7C6qS4/mIg3y6RbsCmFIPaab21zjqFRhCydIA69wulko9O2C

STRIPE_API_KEY=sk_test_51POdu7CZpuWA65tasiPHOHh283hcp5DNDJEeznXZZMadlWlbzG3dg4G8chPAJxeEdSaIVQz8JkAUwD12wcdVfJVN00BhZBNP7T

NEXT_PUBLIC_APP_URL=http://localhost:3000

STRIPE_WEBHOOK_SECRET=whsec_8f2b2d6f144e45d05c82e253fd84a60a895ed80adf4ea4d12a1647f76ffe72bc

# NEXT_PUBLIC_TEACHER_ID=user_2gUNMMseHTtFCgvrVPcxJ5qkoRO

GEMINI_API_KEY=AIzaSyBGeQ_EUrZidw3hg_6r3YvyXznu-KMEF5M